//color
$secondary: #3d3d3d;
$primary: #3e93cd;
$light: #ffffff;
$danger: #ff0000;
$dark-background: rgba(0, 0, 0, 0.5);
$std-hover-background: #e3e3e3;
$hover-background-primary: #1867b8;

//font
$std-font-size: 14px;
$std-font: "Arimo";
$std-font-style: normal;
$std-font-weight: 700;

//border
$std-border-style: solid;
$std-border-color: $secondary;
$std-border-size: 2px;
$std-border-radius: 7px;
