/* arimo-regular - latin-ext_latin_cyrillic-ext_cyrillic */
@import "fonts.css";
@font-face {
  font-family: "Arimo";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/arimo-v15-latin-ext_latin_cyrillic-ext_cyrillic-regular.eot");
  /* IE9 Compat Modes */
  src: local("Arimo Regular"), local("Arimo-Regular"), url("../fonts/arimo-v15-latin-ext_latin_cyrillic-ext_cyrillic-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/arimo-v15-latin-ext_latin_cyrillic-ext_cyrillic-regular.woff2") format("woff2"), url("../fonts/arimo-v15-latin-ext_latin_cyrillic-ext_cyrillic-regular.woff") format("woff"), url("../fonts/arimo-v15-latin-ext_latin_cyrillic-ext_cyrillic-regular.ttf") format("truetype"), url("../fonts/arimo-v15-latin-ext_latin_cyrillic-ext_cyrillic-regular.svg#Arimo") format("svg");
  /* Legacy iOS */
}
/* arimo-italic - latin-ext_latin_cyrillic-ext_cyrillic */
@font-face {
  font-family: "Arimo";
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/arimo-v15-latin-ext_latin_cyrillic-ext_cyrillic-italic.eot");
  /* IE9 Compat Modes */
  src: local("Arimo Italic"), local("Arimo-Italic"), url("../fonts/arimo-v15-latin-ext_latin_cyrillic-ext_cyrillic-italic.eot?#iefix") format("embedded-opentype"), url("../fonts/arimo-v15-latin-ext_latin_cyrillic-ext_cyrillic-italic.woff2") format("woff2"), url("../fonts/arimo-v15-latin-ext_latin_cyrillic-ext_cyrillic-italic.woff") format("woff"), url("../fonts/arimo-v15-latin-ext_latin_cyrillic-ext_cyrillic-italic.ttf") format("truetype"), url("../fonts/arimo-v15-latin-ext_latin_cyrillic-ext_cyrillic-italic.svg#Arimo") format("svg");
  /* Legacy iOS */
}
/* arimo-700 - latin-ext_latin_cyrillic-ext_cyrillic */
@font-face {
  font-family: "Arimo";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/arimo-v15-latin-ext_latin_cyrillic-ext_cyrillic-700.eot");
  /* IE9 Compat Modes */
  src: local("Arimo Bold"), local("Arimo-Bold"), url("../fonts/arimo-v15-latin-ext_latin_cyrillic-ext_cyrillic-700.eot?#iefix") format("embedded-opentype"), url("../fonts/arimo-v15-latin-ext_latin_cyrillic-ext_cyrillic-700.woff2") format("woff2"), url("../fonts/arimo-v15-latin-ext_latin_cyrillic-ext_cyrillic-700.woff") format("woff"), url("../fonts/arimo-v15-latin-ext_latin_cyrillic-ext_cyrillic-700.ttf") format("truetype"), url("../fonts/arimo-v15-latin-ext_latin_cyrillic-ext_cyrillic-700.svg#Arimo") format("svg");
  /* Legacy iOS */
}
/* arimo-700italic - latin-ext_latin_cyrillic-ext_cyrillic */
@font-face {
  font-family: "Arimo";
  font-style: italic;
  font-weight: 700;
  src: url("../fonts/arimo-v15-latin-ext_latin_cyrillic-ext_cyrillic-700italic.eot");
  /* IE9 Compat Modes */
  src: local("Arimo Bold Italic"), local("Arimo-BoldItalic"), url("../fonts/arimo-v15-latin-ext_latin_cyrillic-ext_cyrillic-700italic.eot?#iefix") format("embedded-opentype"), url("../fonts/arimo-v15-latin-ext_latin_cyrillic-ext_cyrillic-700italic.woff2") format("woff2"), url("../fonts/arimo-v15-latin-ext_latin_cyrillic-ext_cyrillic-700italic.woff") format("woff"), url("../fonts/arimo-v15-latin-ext_latin_cyrillic-ext_cyrillic-700italic.ttf") format("truetype"), url("../fonts/arimo-v15-latin-ext_latin_cyrillic-ext_cyrillic-700italic.svg#Arimo") format("svg");
  /* Legacy iOS */
}
.QWidget#menubar {
  background-color: #3e93cd;
  border-bottom: 2px solid #3d3d3d;
}

.QWidget#history {
  background-color: #3e93cd;
}

.QPushButton#dark_background {
  background-color: rgba(0, 0, 0, 0.5);
}

.QToolTip {
  border: 2px solid #3d3d3d;
  padding: 5px;
  border-radius: 2px;
  opacity: 200;
}

.QPushButton {
  border: 2px solid #3d3d3d;
  border-radius: 7px;
  background-color: #ffffff;
  font-size: 14px;
  font-family: "Arimo";
  font-weight: 700;
}
.QPushButton:hover {
  background-color: #e3e3e3;
}

.QPushButton#but_act_encode {
  border: 2px solid #3d3d3d;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

.QPushButton#but_act_decode {
  border: 2px solid #3d3d3d;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

.QPushButton#but_act {
  border: 2px solid #3d3d3d;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  background-color: #3e93cd;
  color: #ffffff;
  font-size: 14px;
}
.QPushButton#but_act:hover {
  background-color: #1867b8;
}

.QPushButton#button_how_work {
  border: 2px solid #3d3d3d;
  border-bottom: 0px;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.QComboBox {
  border: 2px solid #3d3d3d;
  border-radius: 7px;
  background-color: #ffffff;
  font-size: 14px;
  font-family: "Arimo";
  font-weight: 700;
}
.QComboBox:hover {
  background-color: #e3e3e3;
}
.QComboBox::drop-down {
  background-color: rgba(0, 0, 0, 0);
  border-radius: 7px;
}

.QLineEdit {
  border: 2px solid #3d3d3d;
  border-radius: 7px;
  background-color: #ffffff;
}

.QLineEdit#line_inp_key {
  border: 2px solid #3d3d3d;
  border-bottom: 0px;
  border-radius: 0px;
}

.QTextEdit {
  border: 2px solid #3d3d3d;
  border-radius: 7px;
  background-color: #ffffff;
}

.QTextEdit#line_inp_text {
  border: 2px solid #3d3d3d;
  border-bottom: 0px;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

/*# sourceMappingURL=style.css.map */
